.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node {
  stroke: #fff;
  stroke-width: .5px;
}

.node text {
  pointer-events: none;
  font: 15px sans-serif;
  font-weight: bolder;
}

.node.group1{
  fill: green;
  stroke-opacity: .3;
  stroke-width: 4;
}

.node.group2{
  fill: red;
  stroke-opacity: .3;
  stroke-width: 4;
}

.node.group3{
  fill: blue;
  stroke-opacity: .3;
  stroke-width: 4;
}

.node.group4{
  fill: black;
  stroke-opacity: .3;
  stroke-width: 4;
}

.link.type1{
  stroke: black;
  stroke-opacity: .3;
  stroke-width: 4;
}

.link.type2{
  stroke: red;
  stroke-opacity: .3;
  stroke-width: 4;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


#thumbwrap {
	position:relative;
	margin:1px auto;
}

.thumb span {
	position:relative;
	visibility:hidden;
}
.thumb:hover, .thumb:hover span {
	visibility:visible;
	top:300; left:800px;
	z-index:1;
}
